

<div class="artists">
  {% assign artists = site.data.artists %}

  {%- if artists.size > 0 -%}
    <ul class="artist-overview">
      {%- assign date_format = site.artists_overview.date_format | default: "%d/%Y" -%}
      {%- for artist in artists -%}
      <li>
        <span class="act-date">{{ artist.date | date: date_format }}</span>
        <h3>
          <a class="artist-link" href="{{ post.url | relative_url }}">
            {{ artist.name | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
