

<div class="artists-title">
  {% assign main = site.data.main %}
  {% assign titles = main.artists_title | push: main.saison %}

  {%- if titles.size > 0 -%}
    <ul class="artists-title">
      {%- for title in titles -%}
      <li>
        <h3>
          {{ title | escape }}
        </h3>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <div class="artists-title-lower-part">
  <ul class="artists-title-opening-hours">
    <li>
      <h4>
        {{ main.opening.hours | escape }}
      </h4>
    </li>
  </ul>
  <ul class="artists-title-opening-days">
    {%- for title in main.opening.days -%}
    <li>
      <h4>
        {{ title | escape }}
      </h4>
    </li>
    {%- endfor -%}
  </ul>
  </div>
</div>
