---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-col-1 {
    width: -webkit-calc(40% - (30px / 2));
    width: calc(40% - (30px / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (30px / 2));
    width: calc(30% - (30px / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (30px / 2));
    width: calc(30% - (30px / 2));
}

div.artists-container {
  display: flex;
}

div.artists-title {
  float: none;
  width: 40%;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.artists {
  float: none;
  width: 60%;
}

ul.artists-title {
    margin: 0;
    padding: 0;
    list-style: none;
}

.artists-title {
  li {
    display: block;
    font-family: sans-serif;
    font-variant-caps: petite-caps;
    font-weight: bold;
    @include media-query($on-palm) {
      font-size: large;
    }
    font-size: x-large;
    text-align: left;
    vertical-align: baseline;
    line-height: 30px;

    span {
      float: right;
    }

    h3 {
      margin: 0;
      text-align: right;
    }
  }
}

ul.artist-overview {
    margin: 0;
    padding: 0;
    list-style: none;
}

.artist-overview {
  li {
    display: block;
    font-family: sans-serif;
    font-variant-caps: petite-caps;
    font-weight: bold;
    @include media-query($on-palm) {
      font-size: large;
    }
    font-size: x-large;
    text-align: left;
    vertical-align: baseline;
    line-height: 30px;

    span {
      float: right;
    }

    h3 {
      margin: 0;
    }
  }

  a {
    display: block;
    // padding: 6px 12px;
    text-decoration: none;
    font-weight: 500;
  }

}
