---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-sponsors {
  img {
    @include media-query($on-palm) {
      height: 40px;
    }
    height: 100px;
  }
}

.footer-col-1 {
  @include media-query($on-palm) {
    width: calc(100% - (30px / 2));
  }
  width: -webkit-calc(40% - (30px / 2));
  width: calc(40% - (30px / 2));
}

.footer-col-2 {
  @include media-query($on-palm) {
    width: calc(100% - (30px / 2));
  }
  width: -webkit-calc(30% - (30px / 2));
  width: calc(30% - (30px / 2));
}

.footer-col-3 {
  @include media-query($on-palm) {
    width: calc(100% - (30px / 2));
  }
  width: -webkit-calc(30% - (30px / 2));
  width: calc(30% - (30px / 2));
}

div.artists-container {
  display: flex;
}

div.artists-title {
  float: none;
  width: 40%;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.artists {
  float: none;
  width: 60%;
}

ul.artists-title {
    margin: 0;
    padding: 0;
    list-style: none;
}

.artists-title {
  position: relative;
  li {
    display: block;
    font-family: sans-serif;
    font-variant-caps: petite-caps;
    font-weight: bold;
    @include media-query($on-palm) {
      font-size: smaller;
      line-height: 20px;
    }
    font-size: xx-large;
    text-align: left;
    vertical-align: baseline;
    line-height: 40px;

    span {
      float: right;
    }

    h3 {
      margin: 0;
      text-align: right;
    }
  }
}

.artists-title-opening-hours,
.artists-title-opening-days {
  margin-left: 0;

  li {
    display: block;
    font-family: sans-serif;
    font-variant-caps: petite-caps;
    font-weight: bold;
    @include media-query($on-palm) {
      font-size: x-small;
      line-height: 15px;
    }
    font-size: medium;
    text-align: left;
    vertical-align: baseline;
    line-height: 20px;

    span {
      float: right;
    }

    h4 {
      margin: 0;
      text-align: right;
    }
  }
}

.artists-title-lower-part {
  position: absolute;
  @include media-query($on-palm) {
    bottom: auto;
    padding-top: 10px;
  }
  bottom: 0;
  display: inline-block;
  text-align: right;
  width: -webkit-calc(100% - (20px / 2));
  width: calc(100% - (20px / 2));
}

ul.artist-overview {
    margin: 0;
    padding: 0;
    list-style: none;
}

.artist-overview {
  li {
    display: block;
    font-family: sans-serif;
    font-variant-caps: petite-caps;
    font-weight: bold;
    @include media-query($on-palm) {
      font-size: x-small;
    }
    font-size: x-large;
    text-align: left;
    vertical-align: baseline;
    @include media-query($on-palm) {
      line-height: 20px;
    }
    line-height: 30px;

    span {
      float: right;
    }

    h3 {
      margin: 0;
    }
  }

  a {
    display: block;
    // padding: 6px 12px;
    text-decoration: none;
    font-weight: 500;
  }

}
