---
layout: default
---
<article class="artist">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {%- if page.description.first -%}
    {%-   for p in page.description -%}
    <p>{{ p }}</p>
    {%-   endfor -%}
    {%- else -%}
    {{ page.description }}
    {%- endif -%}
    {%- if page.website -%}
    <p>
      <a href="{{ page.website }}" rel="nofollow">Link zur Webseite</a>
    </p>
    {%- endif -%}
    {%- if page.discogs -%}
    <p>
      <a href="{{ page.discogs }}" rel="nofollow">Link zur Discogs-Seite</a>
    </p>
    {%- endif -%}
    {%- if page.youtube -%}
    <p>
      <a href="{{ page.youtube }}" rel="nofollow">Link zu Youtube</a>
    </p>
    {%- endif -%}

  </div>


</article>
